<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navr nav-expand-sm bg-dark navbar-dark">
      <ul class="nav">
        <li class="nav-item active"><a class="nav-link" href="{% url 'admin_app:home' %}">Home</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:list' %}">Post</a> </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:create' %}">Post Create</a> </li>


        <!-- Project link -->
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:project-create' %}">Projects Create</a> </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:project-list' %}">Projects</a> </li>


        <!-- Project link -->
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:employee-create' %}">Employee Create</a> </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:employee-list' %}">Employees</a> </li>

        <!-- <li><a class="navbar-link" href=""></a> </li> -->
        <!-- <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
      </ul>
    </nav>


    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>

  </body>
</html>
